header {
  width: 100%;
  height: 195px;
  text-align: center;
  z-index: +1;
}

h2{
	padding-left: 0 !important;
	margin-left: 0 !important;
}

.row{
  margin-right: 0 !important;
  margin-left:0 !important;
}

.dish {
  margin: 15px auto 10px auto;
  display: block;
}

.container {
  background-color: white;
  width: auto;
  margin: -45px auto;
  z-index: +3;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 10px;
  position: relative;
  z-index: 0;
}

.boxText{
	margin-top: 40px;	
    margin-bottom: 40px;
}

.position{
  margin-bottom: 2%;
}

h3{
	padding: 0 !important;
}

h4{
  font-size: 1em !important;
  font-weight: bold;
  margin-top: 20px;
}

.recipe-items{
  padding-top: 1%;
}

.navigation{
  position: relative;
  top: 15px;
  padding-left: 0;
}

.eCookBook{
	font-size: 0.6em;
	position: relative;
	bottom: 10px;
}

#categories li a{
	margin-right: 20px;
}

ol {
  width: 100%;
  list-style-type: decimal;
  margin-top: 20px;
}

.position-select{
  margin-right: 9%;
  height: 1.8em;
  width: 35%;
}

.display{
  padding-right: 12px;
}

ul li {
  display: inline !important;
  margin-right: 10px;
 }

nav {
  font-size: 1.1em;
  padding: 20px 0;
}

a{
   color: black;
}

a.demo:hover{
	text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited{
  text-decoration: none;
}

.styleSwitch{
  display: block;
  float: right;
  background-color: #fff;
}

.styleSwitch a:link,
.styleSwitch a:visited{
  display: block;
  width: 70px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.styleSwitch a:hover{
  text-decoration: underline;
}

.list-name {
  font-weight: 500;
}

.list {
  -webkit-padding-start: 0;
  list-style-position: inside;
  padding: 0;
  margin-bottom: 30px;
}

h5{
  margin: 20px 0;
  font-weight: bold !important;
}

.font-bold {
  font-weight: 600;
}

.recipe{
  padding-top: 3%;
}

.info{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

/* *************** Responsive version ******************* */

@media (max-width: 1200px) {
	.styleSwitch{
	  margin-top:-100px;
	}
	.button-download {
	  font-size: 1.2em;
	}
}

@media (max-width: 1000px) {
	.button-download {
	  top: 0;
	  width: 50%;
	  margin: 0 auto 20px auto;
	  font-size: 1.4em;
	}
	
}

@media (max-width: 500px) {
	.button-download {
	  width: 80%;	
	}
	
}