body {
  margin: 0;
  /* background: #FDF9EE url(../img/pink/top-bg.jpg) top left repeat-x; */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
}

header{
	background-color: white;
	background-image: linear-gradient(90deg, rgba(248,134,150,.6) 50%, transparent 50%),
	linear-gradient(rgba(248,134,150,.6) 50%, transparent 50%);
	background-size: 60px 60px;
}

.add-rec {
  font-family: 'Dancing Script', cursive;
  position: absolute;
  top: -40px; 
  text-shadow: 2px 2px 2px #9f0a39;
}

.logo {
  position: relative;
  z-index: +2;
  background: transparent url(../img/pink/logo.png) top center no-repeat;
  width: 215px;
  height: 197px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10px
}

.borders{
  border: 1px solid transparent;
  padding: 30px 0;
  -webkit-border-image: url(../img/pink/hr.png) 50 round; /* Safari 3.1-5 */
  -o-border-image: url(../img/pink/hr.png) 50 round; /* Opera 11-12.1 */
  border-image: url(../img/pink/hr.png) 50 round;
}

h2.smallSlogan{
  font-size: 0.9em !important;
  margin-top: 20px;
  color: darkred;
  color: #F06377;
  font-weight: 100;
}

p.slogan{
  font-size: 1.25em !important;
  margin-top: 20px;
  color: #F06377;
  font-weight: 100;
}

.button-download{
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  padding: 30px 30px;
  text-align: center;
  background-color: #F06377;
  color: #fff !important;
  position: relative;
  top: 75px;
}

.button-download:hover{
  background-color: #f7b1bb;
  color: #464242 !important;
  text-shadow: 2px 2px 2px #fff;
}

a.demo:link,
a.demo:visited,
a.active{
	color: #f16276;
	font-size: 2em;
	float: right;
	margin-right: 1%;
	margin-top: 2%;
	text-decoration: underline;
	border: none;
}

nav ul li a:hover{
  color: #f16276;
}

nav ul li a.activeLink{
  color: #f16276;
}

hr {
  margin-top:0; 
  width: auto;
  margin-bottom: 2%;
  -webkit-border-image: url(../img/pink/hr.png) 50 round; /* Safari 3.1-5 */
  -o-border-image: url(../img/pink/hr.png) 50 round; /* Opera 11-12.1 */
  border-image: url(../img/pink/hr.png) 50 round;
}

/* *********************** Switch for css files ************************** */

#css-pink{
  background-color: #F06377;
}

#css-blue{
  background-color: #74BAE7;
}

#css-green{
  background-color: #A6D38B;
}

/* ******************* Recipe ******************* */
/* Image */

 .picture{
   background: transparent url(../img/picture.jpg) top center no-repeat;
}

.img-box {
  width: 40%;
  height: auto;
  border-right: 1px dashed #C22127;
  opacity: 0.2;
}

/* **************** Title, category and ingredients  ****************** */

.title-cook-book {
  color: #C12227;
  margin-bottom: 20px;
}

/* *************** Responsive version ******************* */

@media (max-width: 1200px) {
	.logo {
		background: transparent url(../img/pink/logoSmall.png) top center no-repeat;
		width: 120px;
		height: 110px;
		position: relative;
		top: 30px;
	}
}