@page {
    margin:1cm;
}

html, 
body {
    margin: 0;
    padding :0;
    border: none;
    font-size: 10pt;
}
header,
nav ul li a,
.button-recipe{
	display: none;
	height: 0;
}

h2{
	font-size: 16pt;
	margin-bottom: 0.5cm;
	font-weight: bold;
}

h3{
	font-size: 14pt;
	margin-bottom: 0.5cm;
	font-weight: bold;
}

#recipeText{
	bottom: 0.5cm;
}

.info{
	font-size: 10pt;
	text-align: center;
}

