body {
  margin: 0;
  background: #FDF9EE url(../img/pink/top-bg.jpg) top left repeat-x;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
}

header {
  width: 100%;
  height: 195px;
  text-align: center;
}

.logo {
  position: relative;
  z-index: +1;
  background: transparent url(../img/pink/logo.png) top center no-repeat;
  width: 215px;
  height: 197px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.row{
	margin-right: 0 !important;
	margin-left:0 !important;
}

.container {
  background-color: white;
  width: auto;
  margin: -35px auto;
  position: relative;
  z-index: 0;
}

nav {
  font-size: 1.2em;
}

.navigation{
	position: relative;
	top: 15px;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
  padding-right: 30px;
}

.navigation li a:link,
.navigation li a:visited{
  text-decoration: none;
  color: black;
}

.navigation li a:hover{
	color: #f16276;
}

hr {
  width: auto;
  border: 1px dashed #C22127;
  opacity: 0.2;
}

#recipesDropForm{
  display:none;
}

#ingredientsDropForm{
  display:none;
}

#thingsDropForm{
  display:none;
}

/* Style for switch css files */

.styleSwitch{
	display: block;
	float: right;
	background-color: #fff;
}

.styleSwitch a:link,
.styleSwitch a:visited{
	display: block;
	width: 70px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.styleSwitch a:hover{
	text-decoration: underline;
}

#css-pink{
	background-color: #F06377;
}

#css-blue{
	background-color: #74BAE7;
}

#css-green{
	background-color: #A6D38B;
}

/* ******************* Recipe ******************* */
/* Image */

#picture{
	background: transparent url(../img/picture.jpg) top center no-repeat;
}

.img-box {
  width: 40%;
  height: auto;
  border-right: 1px dashed #C22127;
  opacity: 0.2;
}

.dish {
  margin: 15px auto 10px auto;
}

/* Title, category and ingredients*/
.title-cook-book {
  color: #C12227;
  padding-top: 5px;
}

.category {
  font-style: italic;
  color: black;
  font-weight: 500;
}

.category-name {
  color: #F47920;
}

.list-name {
  font-weight: 500;
}

.list {
  font-size: 90%;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.font-bold {
  font-weight: 600;
}

/* Icons */
.list-ing::before {
  display: inline-block;
  content: url("../img/pink/ingredients-icon.jpg");
  margin: 0 6px 0 0;
}

.list-things::before {
  display: inline-block;
  content: url("../img/pink/other-icon.jpg");
  margin: 0 6px 0 0;
}

.time::before {
  display: inline-block;
  content: url("../img/pink/time-icon.jpg");
  margin: 0 6px 0 0;
}

.people::before {
  display: inline-block;
  content: url("../img/pink/servings-icon.jpg");
  margin: 0 6px 0 0;
}

.recipe::before {
  display: inline-block;
  content: url("../img/pink/recipe-icon.jpg");
  margin: 0 6px 0 0;
}

/* Recipe */
.recipe-description {
  font-size: 95%;
  line-height:130%;
}

/* ******************* Buttons ******************* */
.buttons {
	text-align: center;
}

.button-recipe {
  background-color: #F06377;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 2em 1em 2em;
  width: 160px;
  text-decoration: none;
  vertical-align: middle;
  text-shadow: 2px 2px 2px #464242;
  /* background: darken($red, 1.5%); */
  }

.button-recipe:hover {
  background-color: #f7b1bb;
  color: #464242;
  text-shadow: 2px 2px 2px #fff;
  /* background: rgba($red, 0); */
}
