body {
  margin: 0;
  /* background: #FDF9EE url(../img/green/top-bg.jpg) top left repeat-x; */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
}

header{
	background-color: white;
	background-image: linear-gradient(90deg, rgba(191,222,175,.6) 50%, transparent 50%),
	linear-gradient(rgba(191,222,175,.6) 50%, transparent 50%);
	background-size: 60px 60px;
}

.add-rec {
  font-family: 'Dancing Script', cursive;
  position: absolute;
  top: -40px; 
  text-shadow: 2px 2px 2px #83a176;
  font-weight: bold;
}

.logo {
  position: relative;
  z-index: +2;
  background: transparent url(../img/green/logo.png) top center no-repeat;
  width: 215px;
  height: 197px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10px;
}

.borders{
    border: 1px solid transparent;
    padding: 30px 0;
    -webkit-border-image: url(../img/green/hr.png) 50 round; /* Safari 3.1-5 */
    -o-border-image: url(../img/green/hr.png) 50 round; /* Opera 11-12.1 */
    border-image: url(../img/green/hr.png) 50 round;
}

.menue-btn{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  padding: 3px 0;
  line-height: 20px;
  height: 28px;
  min-width: 60px;
  text-align: center;
  background-color: #5aab5a;
  margin-left: 1.85em;
  border: none;
  vertical-align: bottom;
  width: auto;
}

/* Popup Buttons */
.recipes-popup-content .menue-btn,
.ingredients-popup-content .menue-btn {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 15px; /* Increase Font-Size */
  font-weight: normal;
  padding: 5px 15px 15px 15px !important;
  margin: 5px 10px; /* Increase Space Between*/
  line-height: 20px;
  height: 30px;
  min-width: 120px;
  text-align: center;
  background-color: #5aab5a;
  border: none;
  width: auto;
}

input,
textarea,
select{
  border: 1px solid #bbb;
  background-color: #eefdf4;
}

.menue-btn:hover{
  background-color: #D2E9C5;
  color: #464242;
  text-shadow: 2px 2px 2px #fff;
}

nav ul li a:hover{
  color: #83a176;
}

nav ul li a.activeLink{
  color: #83a176;
  cursor: auto;
}

hr{
  margin-top:0; 
  width: auto;
  margin-bottom: 2%;
  -webkit-border-image: url(../img/green/hr.png) 50 round; /* Safari 3.1-5 */
  -o-border-image: url(../img/green/hr.png) 50 round; /* Opera 11-12.1 */
  border-image: url(../img/green/hr.png) 50 round;
}

/* *********************** Switch for css files ************************** */

#css-pink{
  background-color: #F06377;
}

#css-blue{
  background-color: #74BAE7;
}

#css-green{
  background-color: #A6D38B;
}

/* ******************* Recipe ******************* */

/* Image */

.picture{
  background: transparent url(../img/picture.jpg) top center no-repeat;
  min-height: 250px;
}

.img-box {
  width: 40%;
  height: auto;
  border-right: 1px dashed #83C458;
  opacity: 0.2;
}

/* **************** Title, category and ingredients  ****************** */

.title-cook-book {
  color: #83C458;
  font-size: 1.8em;
}

.category-name {
  color: #83C458;
}

/* ************* Icons ************* */

.list-ing::before {
  display: inline-block;
  content: url("../img/green/ingredients-icon.jpg");
  margin: 0 6px 0 0;
}

.list-things::before {
  display: inline-block;
  content: url("../img/green/other-icon.jpg");
  margin: 0 6px 0 0;
}

.time::before {
  display: inline-block;
  content: url("../img/green/time-icon.jpg");
  margin: 0 6px 0 0;
}

.people::before {
  display: inline-block;
  content: url("../img/green/servings-icon.jpg");
  margin: 0 6px 0 0;
}

.recipe::before {
  display: inline-block;
  content: url("../img/green/recipe-icon.jpg");
  margin: 0 6px 0 0;
}

/* ******************* Buttons ******************* */

.button-recipe {
  background-color: #5aab5a;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 1em;
  max-width: 160px;
  text-decoration: none;
  vertical-align: middle;
  text-shadow: 2px 2px 2px #464242;
  height: auto;
  width: 30%;
 /* background: darken($red, 1.5%); */
  }

.button-recipe:hover {
  background-color: #d1e9c5;
  color: #464242;
  text-shadow: 2px 2px 2px #fff;
}

/* ******************* Style CSS for 'e-Cook Book' *************************** */

.recipes-popup-content h2,
.ingredients-popup-content h2{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 100px;
	color: #83a176;
}

/* *************** popup 'See recipe' ******************* */

.font h3{
  color: #5aab5a;
  cursor: pointer;
}

#close-see-popup-btn:hover{
  color: #83C458;
}

/* *************** Responsive version ******************* */

@media (max-width: 500px) {
	.logo {
		background: transparent url(../img/green/logoSmall.png) top center no-repeat;
		width: 120px;
		height: 110px;
		position: relative;
		top: 30px;
	}
}
